---
layout: default
---

{% if page['date created'] %}
  <span class="post-date">
    Created: {{ page['date created'] }}<br>
    Modified: {{ page['date modified'] }}
  </span>
{% endif %}

{% if page.tags %}
    <div class="tags">
        Tags: 
	{% for tag in page.tags %}
            <span class="tag">{{ tag }}</span>{% unless forloop.last %}; {% endunless %}
        {% endfor %}
    </div>
{% endif %}

{% if page.backlink %}
  in: <a href="{{ page.backlink }}">{{ page.backlink | split: '/' | last }}</a>
{% endif %}

<article>
  {{ content }}
</article>
